<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/sing/using_SHAFT_ENGINE/using_SHAFT_ENGINE">
        <classes>
            <class name="tests.api.users.GetRandomCatFactsAPi">
                <methods>
                    <include name="getRandomFacts"/>
                </methods>
            </class>
            <class name="tests.gui.GoogleTestRuns">
                <methods>
                    <include name="searchForQueryAndAssertThirdResultTextIsCorrect"/>
                </methods>
            </class>
            <class name="tests.gui.HerokuTestRuns">
                <methods>
                    <include name="fileUpload"/>
                    <include name="tesDynamicLoading"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
